---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import ChangelogItem from "@components/ChangelogItem.astro";
import { changelog } from "../data/changelog";
import { SITE } from "@config";

const sortedChangelog = [...changelog].sort(
  (a, b) => b.date.getTime() - a.date.getTime()
);
---

<Layout title={`Changelog | ${SITE.title}`}>
  <Header />
  <Main pageTitle="Changelog" pageDesc="A history of updates and improvements to this site.">
    {sortedChangelog.map(entry => (
      <ChangelogItem {...entry} />
    ))}
  </Main>
  <Footer />
</Layout>
